<div layout = "row">
    <md-dialog ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Alterar {{::c.nomeEdit.nome}} {{::c.nomeEdit.sobrenome}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
        <form name="addForm"  ng-submit="c.closeDialog()">
            <md-input-container>
                <label>Nome</label>
                <input type="text" ng-model="c.nomeEdit.nome">
            </md-input-container>
            <md-input-container>
                <label>Sobrenome</label>
                <input type="text" ng-model="c.nomeEdit.sobrenome">
            </md-input-container>
            <input ng-show="false" type="submit" value="">
        </form>
        </md-dialog-content>
        <md-dialog-content layout="row">
            <md-dialog-actions>
                <md-button ng-click="c.editAndClose()" class="md-primary">Alterar</md-button>
            </md-dialog-actions>
            <md-dialog-actions>
                <md-button ng-click="c.closeDialog()" class="md-primary">Cancelar</md-button>
            </md-dialog-actions>
        </md-dialog-content>

    </md-dialog>
</div>